main {
    width:1000px;
    height:700px;
    margin:0 auto;
    text-align:center;
}

#main_img{

    display:inline-block;
    margin-left:auto;
    margin-right:auto;
}

#main_img .img1 {
    width:250px;
    height:200px;

    margin:10px;

}

#main_img .img2 {
    width:250px;
    height:200px;

    margin:10px;

}

#main_img .img3 {
    width:250px;
    height:200px;

    margin:10px;

}

#main_img .img4 {
    width:250px;
    height:200px;

    margin:10px;

}

#main_img .img5 {
    width:250px;
    height:200px;

    margin:10px;

}

#main_img .img6 {
    width:250px;
    height:200px;

    margin:10px;

}

#main_img .img7 {
    width:250px;
    height:200px;

    margin:10px;

}

#main_img .img8 {
    width:250px;
    height:200px;

    margin:10px;

}

#main_img .img9 {
    width:250px;
    height:200px;

    margin:10px;

}